<div class='user_box-signup'>
  <div class='user_box-inner'>
    <div class='user_box-header'>
      <h1>新規登録</h1>
    </div>
    <div class='user_box-main'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= render 'devise/shared/error_messages', model: f.object %>
        <div class='field'>
          <div class='field-label'>
            <label for='user_nickname'>名前</label>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true, id: 'user_nickname' %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label for='user_school_year_id'>学年</label>
          </div>
          <div class='field-input'>
            <%= f.collection_select(:school_year_id, SchoolYear.all, :id, :year, {}, {class:"select-box", id:"item-sales-status"}) %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label for='user_email'>メールアドレス</label>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, id: 'user_email' %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label for='user_password'>パスワード</label>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off", id: 'user_password' %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label for='user_password_confirmation'>パスワード（確認）</label>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: 'user_password_confirmation' %>
          </div>
        </div>
        <div class='actions-sign-up'>
          <%= f.submit "アカウント作成", class: 'btn', id: 'user_signup_btn' %>
        </div>
      <% end %>
    </div>
    <div class='user_box-footer'>
      <%= link_to 'ログインはこちら', new_user_session_path %>
    </div>
  </div>
</div>
