<%= render 'shared/header' %>
<div class="top-main">
  <div class="user-show">
    <div class="user-room">
      <div class="user-show-title">
        <h2>ルーム一覧</h2>
      </div>
      <div class="top-rooms">
        <% @rooms.each do |room| %>
          <div class="top-room">
            <div class="room-title"><%= link_to room.title, room_messages_path(room.id) %></div>
              <div class="room-tags">
                <% room.tags.each do |tag| %>
                 <div class="room-tag">#<%= tag.name %></div>
                <% end %>
              </div>
            <div class="room-name"><%= link_to room.user.name, user_path(room.user_id) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/side_bar' %>
</div>