<%= render 'shared/header' %>
<div class="user-main">
  <div class="user-show">
    <div class="user-show-up">
      <div class="user-show-title">
        <h2 >ユーザー詳細</h2>
      </div>
      <div class="user-show-contents">
        <div class="user-show-name">
          <h2><%= @user.name %></h2>
        </div>
        <div class="user-show-school_year">
          <h3><%= @school_year.year %></h3>
        </div>
      </div>
    </div>
    <div class="user-room">
      <div class="user-show-title">
        <h2>ルーム一覧</h2>
      </div>
      <div class="rooms">
        <% @user.rooms.each do |room| %>
          <div class="room">
            <div class="room-up">
              <div class="room-title"><%=link_to room.title, room_messages_path(room.id) %></div>
              <div class="room-delete"><%= link_to 'ルームの削除', room_path(room.id), method: :delete %></div>
            </div>
            <div class="room-tags">
              <% room.tags.each do |tag| %>
               <div class="room-tag">#<%= tag.name %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/side_bar' %>
</div>